{{> header}}
<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainers}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <a class="my-0 font-weight-normal" href="/trainers/{{name}}">{{name}}</a>
                </div>
                <div class="card-body">
                    <li class="list-group">
                        {{#actualTeam}}
                            <ul class="list-group-item">
                                <img class="card-img-top" src="{{sprites.front_default}}" alt="PokemonFront"/>
                                <span class="badge badge-info">Level {{level}}</span>
                            </ul>
                        {{/actualTeam}}
                    </li>
                </div>
            </div>
        </div>
        {{/trainers}}
    </div>

</div>

</body>
</html>